@import 'mixins.css';

.searchWrapper {
  flex: 1;  
  border-radius: 3px;  
  margin-bottom: 30px;  
}


.bottom {
  display: flex;
  align-items: center;
  border-top: solid thin #EDEDED;
  & > div {
    cursor: pointer;
    padding: 0 10px;
    border-right: solid thin $gray-light;
    &:hover {
      background-color: $active-blue;
    }
    &:last-child {
      border-right: solid thin transparent;
    }
    &:first-child {
      flex: 1;
      text-align: center;
    }
  }

}

.savedSearchesWrapper {
  width: 200px;
  margin-left: 20px;
}


.header {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: $gray-medium;
}