
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  border: solid thin rgba(34, 36, 38, 0.15) !important;
  border-radius: 4px;
  padding: 0 10px;
  width: 150px;
  color: $gray-darkest;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1) !important;
  &:hover {
    background-color: white;
  }
  & span {
    margin-right: 5px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}