
@import 'icons.css';

.notes {
  margin: 15px 0;
  font-weight: 300;
}
.tipIcon {
  @mixin icon lightbulb, $gray-medium, 13px;
  margin-right: 5px;
}

.tipText {
  display: flex;
  align-items: center;
  color: $gray-medium;
  font-size: 12px;
}
