*.log
node_modules/
public/
.idea
drafts
app/components/ui/SVG.js
*.DS_Store
.env
*css.d.ts
*.cache
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.env.json
cypress.env.json
**/__diff_output__/*
*.diff.png
cypress/videos/
coverage