pandas==1.5.1
confluent-kafka==2.1.1
SQLAlchemy==1.4.48
snowflake-connector-python==3.0.4
snowflake-sqlalchemy==1.4.7
PyYAML==6.0
asn1crypto==1.5.1
azure-common==1.1.28
azure-core==1.27.0
azure-storage-blob==12.16.0
boto3==1.26.151
botocore==1.29.151
certifi==2022.09.24
cffi==1.15.1
chardet==5.1.0
idna==3.7
isodate==0.6.1
jmespath==1.0.1
msrest==0.7.1
oauthlib==3.2.2
oscrypto==1.3.0
pycparser==2.21
pycryptodomex==3.19.1
PyJWT==2.7.0
pyOpenSSL==22.1.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.32.2
requests-oauthlib==1.3.1
s3transfer==0.6.1
six==1.16.0
urllib3==1.26.19

