certifi==2022.09.24
chardet==5.1.0
clickhouse-driver==0.2.6
clickhouse-sqlalchemy==0.2.4
idna==3.7
confluent-kafka==2.1.1
pandas==1.5.1
pytz==2022.6
requests==2.32.2
SQLAlchemy==1.4.43
tzlocal==5.0.1
urllib3==1.26.19
PyYAML==6.0