chardet==5.2.0
idna==3.7
confluent-kafka==2.2.0
psycopg2-binary==2.9.9
apscheduler==3.10.4
python-decouple==3.8
pytz==2023.3.post1
requests==2.32.2
SQLAlchemy==1.4.49
tzlocal==5.2
urllib3==1.26.18
sqlalchemy-redshift==0.8.14
redshift-connector==2.0.915
pandas-redshift==2.0.5
PyYAML==6.0.1
