.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid thin $gray-light;
  border-radius: 3px;
  overflow: hidden;
  user-select: none;

  & .item {
    color: $gray-medium;
    font-weight: medium;
    padding: 10px;
    flex: 1;
    text-align: center;
    cursor: pointer;
    background-color: $gray-lightest;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-right: solid thin $gray-light;

    & span svg {
      fill: $gray-medium;
    }

    &[data-active=true] {
      background-color: white;
      color: $teal;

      & span svg {
        fill: $teal;
      }
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: white;
      color: $teal;

      & span svg {
        fill: $teal;
      }
    }
  }
}

.primary {
  border: solid thin $teal;
  & .item {
    color: $teal;
    background-color: white;
    border-right: solid thin $teal;
    & svg {
      fill: $teal !important;
    }
    &[data-active=true] {
      background-color: $teal;
      color: white;
      & svg {
        fill: white !important;
      }
    }
  }
}

.small .item {
  padding: 4px 8px;
}

.extraSmall .item {
  padding: 2px 4px !important;
  font-size: 12px;
}

.icons .item {
  padding: 4px !important;
  font-size: 12px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.outline {
  border: 1px solid transparent;
  border-radius: 3px;
  & .item {
    padding: 10px!important;
    font-size: 14px!important;
    border: solid thin $gray-light!important;
    
    &:hover {
      background: $teal-light!important;
    }

    &:first-child {
      border-right: none!important;
      border-radius: 3px 0 0 3px!important;
    }
    &:last-child {
      border-left: none!important;
      border-radius: 0 3px 3px 0!important;
    }

    &[data-active=true] {
      border: solid thin $teal!important;
    }
  }
}
