.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid thin $gray-light;
  border-radius: 3px;
  overflow: hidden;

  & .item {
    color: $gray-medium;
    font-weight: medium;
    padding: 10px;
    flex: 1;
    text-align: center;
    border-right: solid thin $teal;
    cursor: pointer;
    background-color: $gray-lightest;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    & span svg {
      fill: $gray-medium;
    }

    &[data-active=true] {
      background-color: white;
      color: $teal;

      & span svg {
        fill: $teal;
      }
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: white;
      color: $teal;

      & span svg {
        fill: $teal;
      }
    }
  }
}

.primary {
  border: solid thin $teal;
  & .item {
    color: $teal;
    background-color: white;
    &[data-active=true] {
      background-color: $teal;
      color: white;
    }
  }
}

.small .item {
  padding: 4px 8px;
}

.extraSmall .item {
  padding: 0 4px;
  font-size: 12px;
}