.number {
  width: 20px;
  height: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  flex-shrink: 0;
  padding-top: .15rem;
}