
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc !important; /*  postss reset is bad  */
  transition: .4s;
  border-radius: 34px !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: -2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.slider.checked {
  background-color: $teal !important;
}

.slider.checked:before {
  border: solid 1px $teal;
}

.slider.checked:before {
  /* transform: translateX(15px); */
}
