
@import 'mixins.css';

.wrapper {
  background: #fff;
  border: solid thin $gray-light;
  border-radius: 3px;
  @mixin defaultHover;
  box-shadow:
    /* The top layer shadow */
    /* 0 1px 1px rgba(0,0,0,0.15), */
    /* The second layer */
    4px 4px 1px 1px white,
    /* The second layer shadow */
    4px 4px 0px 1px rgba(0,0,0,0.4);
    /* Padding for demo purposes */
    padding: 16px;
}