.iconWrapper {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0;
  transition: all .2s; /* Animation */
}

.zoomIcon {
  opacity: 1;
  transform: scale(1.8);
  transition: all .8s;
}