.operatorDropdown {
  font-weight: 400;
  height: 26px;
  min-width: 60px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px !important;
  font-size: 13px;
  /* background-color: rgba(255, 255, 255, 0.8) !important; */
  background-color: $gray-lightest !important;
  border: solid thin #e9e9e9 !important;
  border-radius: 4px !important;
  color: $gray-darkest !important;
  font-size: 14px !important;
  &.ui.basic.button {
    box-shadow: 0 0 0 1px rgba(62, 170, 175,36,38,.35) inset, 0 0 0 0 rgba(62, 170, 175,.15) inset !important;
  }
}