.button {
  padding: 0 8px;
  border-radius: 3px;
  color: $teal;
  cursor: pointer;
  display: flex !important;
  align-items: center !important;
  & span {
    white-space: nowrap;
    margin-right: 5px;
  }
}

.dropdownTrigger {
  padding: 4px 6px;
  &:hover {
    background-color: $gray-light;
  }
}
.dateRangeOptions {
  position: relative;

  display: flex !important;
  border-radius: 3px;
  color: $gray-darkest;
  font-weight: 500;


  & .dateRangePopup {
    top: 38px;
    bottom: 0;
    z-index: 999;
    position: absolute;
    background-color: white;
    border: solid thin $gray-light;
    border-radius: 3px;
    min-height: fit-content;
    min-width: 773px;
    box-shadow: 0px 2px 10px 0 $gray-light;
  }
}

.dropdown {
  display: flex !important;
  padding: 4px 6px;
  border-radius: 3px;
  color: $gray-darkest;
  font-weight: 500;
  &:hover {
    background-color: $gray-light;
  }
}

.dropdownTrigger {
  padding: 4px 8px;
  border-radius: 3px;
  &:hover {
    background-color: $gray-light;
  }
}

.dropdownIcon {
  margin-top: 1px;
  margin-left: 3px;
}