.wrapper {  
  display: flex;
  justify-content: space-between;
  align-items: center;

  & input {
    height: 26px;
    max-width: 85px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    color: $gray-medium !important;
  }
  
  & > div {
    /* &:first-child { */
      margin-right: 10px;
      height: 26px;
      /* padding: 5px !important; */
    /* } */
  }
}

.label {
  font-size: 13px !important;
  font-weight: 400 !important;
  color: $gray-medium !important;
  padding: 0px 5px !important;
  line-height: 1.9 !important;
  /* height: 26px;
  display: flex;
  align-items: center;
  justify-content: center; */
}

