urllib3==2.3.0
requests==2.32.3
boto3==1.36.12
pyjwt==2.10.1
psycopg2-binary==2.9.10
psycopg[pool,binary]==3.2.4
clickhouse-driver[lz4]==0.2.9
clickhouse-connect==0.8.15
elasticsearch==8.17.1
jira==3.8.0
cachetools==5.5.1

fastapi==0.115.8
python-decouple==3.8
pydantic[email]==2.10.6
apscheduler==3.11.0

redis==5.2.1
azure-storage-blob==12.24.1
