requests==2.26.0
urllib3==1.26.6
boto3==1.16.1
pyjwt==1.7.1
psycopg2-binary==2.8.6
elasticsearch==7.9.1
jira==2.0.0
clickhouse-driver==0.2.2
python3-saml==1.12.0

fastapi==0.74.1
python-multipart==0.0.5
uvicorn[standard]==0.17.5
python-decouple==3.6
pydantic[email]==1.8.2
apscheduler==3.8.1