urllib3==2.6.3
requests==2.32.5
boto3==1.42.35
pyjwt==2.10.1
psycopg2-binary==2.9.11
psycopg[pool,binary]==3.3.2
clickhouse-connect==0.10.0
elasticsearch==9.2.1
jira==3.10.5
cachetools==6.2.5

fastapi==0.128.0
uvicorn[standard]==0.40.0
gunicorn==24.1.1
python-decouple==3.8
pydantic[email]==2.12.5
apscheduler==3.11.2

# xmlsec and lxml are provided by Nix. Check shell.nix and Dockerfile

python3-saml==1.16.0
python-multipart==0.0.22

# SCIM packages for user/group provisioning
scim2-models==0.6.2
scim2-server==0.1.8
scim2-filter-parser==0.7.0
werkzeug==3.1.5

redis==7.1.0
#confluent-kafka==2.1.0
azure-storage-blob==12.28.0