requests==2.28.1
urllib3==1.26.12
boto3==1.24.80
pyjwt==2.5.0
psycopg2-binary==2.9.3
elasticsearch==8.4.2
jira==3.4.1



fastapi==0.85.0
uvicorn[standard]==0.18.3
python-decouple==3.6
pydantic[email]==1.10.2
apscheduler==3.9.1

clickhouse-driver==0.2.4
python3-saml==1.14.0
python-multipart==0.0.5