NODE_ENV=production
SOURCEMAP = false

# END POINTS #
ORIGIN = ''
API_EDP = ''
ASSETS_HOST = ''

# SENTRY
SENTRY_ENABLED = false
SENTRY_URL = ''

# CAPTCHA
CAPTCHA_ENABLED = false
CAPTCHA_SITE_KEY = ''

# APP and TRACKER VERSIONS
VERSION = 1.27.0
TRACKER_VERSION = '18.0.17'
TRACKER_MAJOR_VERSION = '18'

COMMIT_HASH = 'unknown'
COMMIT_HASH=f0ab0d9af0508a6f2203084f0f6d7ad095443241
