*.log
node_modules/
public/
.idea
drafts
app/components/ui/SVG.js
*.DS_Store
.env*
!.env.sample
logs
*css.d.ts
*.cache
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.env.json
test-results/
playwright-report/
tests/playwright/auth-state.json
coverage
dist
