*.log
node_modules/
public/
.idea
drafts
yarn.lock
app/components/ui/SVG.js
*.DS_Store
.env
*css.d.ts
*.cache
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.env.json
cypress.env.json
cypress/snapshots/__diff_output__/