{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^Components|^App|^UI|^Duck", "^Shared", "^[./]"],
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "all"
}
