.wrapper {
  border-radius: .5rem;
  border: solid thin $gray-light;
  padding: 20px;
  box-shadow: 0 2px 2px 0 $gray-light;
}
.optionItem {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  &:hover {
    background-color: $active-blue;
    color: $teal !important;
  }
}

.filterSearchItem {
  &:hover {
    background-color: $active-blue;
    color: $teal;
  }

  & div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
