.actions {
  /* margin-left: auto; */
  /* opacity: 0; */
  /* transition: all 0.4s; */
  display: flex;
  align-items: center;
  & .button {
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      & svg {
        fill: $teal-dark;
      }
    }
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  & .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.label {
  margin-right: 10px;
  padding: 0 5px;
  border-radius: 3px;
  background-color: $gray-lightest;
  font-size: 12px;
  border: solid thin $gray-light;
  width: fit-content;
}