.disabled {
  pointer-events: none;
}

.disabled > button {
  opacity: 0.5;
}

/* Keep the icon color intact */
.disabled > button svg {
  opacity: 1; 
}

.divider {
  width: 1px;
  height: 49px;
  margin: 0 10px;
  background-color: $gray-light;
}