
.message {
  overflow-x: auto;
  margin-left: 10px;
  font-size: 13px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 2px;
  }
}

.line {
  font-family: 'Menlo', 'monaco', 'consolas', monospace;
  /* margin-top: -1px; ??? */
  display: flex;
  align-items: flex-start;
  border-bottom: solid thin $gray-light-shade;
  &:hover {
    background-coor: $active-blue !important;
  }
}

.timestamp {
  
}

.activeRow {
  background-color: $teal-light !important;
}

.icon {
  padding-top: 4px;
  margin-right: 7px;
}

.inactiveRow {
  opacity: 0.5;
}