.barWrapper {
  display: flex;
  position: absolute;
  top: 50%;
  height: 6px;
  translate: 0 -50%;
  border-radius: var(--m-radius-chip);
  overflow: hidden;
}

.downloadBar,
.ttfbBar {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.ttfbBar {
  background: var(--m-content-decorative);
}
.downloadBar {
  background: var(--m-border-accent);
}

.popupRow {
  color: $gray-medium;
  display: flex;
  align-items: center;
  padding: 2px 0;
  font-size: 12px;
}
.title {
  width: 105px;
}
.time {
  width: 60px;
  padding-left: 10px;
}
.popupBarWrapper {
  width: 220px;
  height: 15px;
  border-radius: 3px;
  overflow: hidden;
}
