{{- if .Values.ingress.enabled }}
{{- $fullName := include "assist-stats.fullname" . -}}
{{- $svcPort := .Values.service.ports.http -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "assist-stats.labels" . | nindent 4 }}
  annotations:
    nginx.org/location-snippets: |
      add_header Cache-Control "no-store,no-cache";
      add_header Pragma "no-cache";
    nginx.org/rewrites: "serviceName={{ include "assist-stats.fullname" . }} rewrite=/$1"
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: "{{ tpl .Values.ingress.className . }}" 
  tls:
    - hosts:
        - {{ .Values.global.domainName }}
      {{- if .Values.ingress.tls.secretName}}
      secretName: {{ .Values.ingress.tls.secretName }}
      {{- end}}
  rules:
    - host: {{ .Values.global.domainName }} 
      http:
        paths:
          - pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
            path: /api/(.*)
{{- end }}
