{{- if .Values.ingress.enabled }}
{{- $fullName := include "assist-stats.fullname" . -}}
{{- $svcPort := .Values.service.ports.http -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "assist-stats.labels" . | nindent 4 }}
  annotations:
    nginx.org/mergeable-ingress-type: "minion"
    nginx.org/location-snippets: |
      add_header Cache-Control "no-store,no-cache";
      add_header Pragma "no-cache";
      rewrite ^/assist-stats/(.*)$ /$1 break;
spec:
  ingressClassName: openreplay
  rules:
    - host: {{ .Values.global.domainName }} 
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
            path: /assist-stats
{{- end }}
