{{- if .Values.global.enterpriseEditionLicense }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "assist-stats.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "assist-stats.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- range $key, $val := .Values.service.ports }}
    - port: {{ $val }}
      targetPort: {{ $key }}
      protocol: TCP
      name: {{ $key }}
    {{- end}}
  selector:
    {{- include "assist-stats.selectorLabels" . | nindent 4 }}
{{- end}}
