.wrapper {
  position: fixed;
  top: 81px;
  width: 210px;
}

.header {
  margin-bottom: 15px;
  & .label {
    text-transform: uppercase;
    color: gray;
    letter-spacing: 0.2em;
  }

  & .manageButton {
    margin-left: 5px;
    font-size: 12px;
    color: $teal;
    cursor: pointer;
    padding: 2px 5px;
    border: solid thin transparent;
    border-radius: 3px;
    margin-bottom: -3px;
    &:hover {
      background-color: $gray-light;
      color: $gray-darkest;
    }
  }
}

.divider {
  height: 1px;
  width: 100%;
  background-color: $gray-light;
}