@import 'icons.css';

.form {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  width: 520px;
  left: 50%;
  margin-left: -260px;

  & .passwordPolicy {
    color: $gray-medium;
    padding: 5px 0 10px;
    font-size: 13px;
  }
  
  & form {
    padding: 10px 70px;
    border: solid 2px $gray-light;
    border-radius: 2px;
    background-color: white;
  }
  & h2 {
    text-align: center;
    font-size: 20px;
    color: #555555;
    margin: 35px 0;
    font-weight: 300;
  }
}

.formFooter  {
  text-align: center;
  padding: 15px 0;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-top: 20px;

  & .divider {
    width: 1px;
    height: 12px;
    background-color: $gray-medium;
    margin: 0 5px;
  }
}

.logo {
  background-image: svg-load('logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 50px;
  margin-bottom: 20px;
}


.email, .password {
  display: block;
  margin-top: 15px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: $gray-light solid 1px;
  border-radius: 3px;
  font-size: 14px;
  padding: 0 10px;
  transition: all 0.2s;

  &::placeholder {
    color: #AAA;
  }

  &:focus {
    border-color: $teal;
    transition: all 0.2s;
  }
}

.errors {
  border-radius: 5px;
  width: 400px;
  margin: auto;
  border: 2px solid $red;
  padding: 15px;
  background-color: $white;
}

.submit {
  display: block;
  border-radius: 5px;
  background: $teal;
  width: 135px;
  height: 45px;
  margin: 20px auto;
  color: $white;
  font-size: 16px;
  cursor: pointer;
}

.inputWithIcon {
  position: relative;

  & input {
    padding-left: 45px;
  }
}

@define-mixin inputIcon $name {
  position: absolute;
  left: 15px;
  top: calc(50% - 8px);
  @mixin icon $name, $gray-medium, 15px;
}

.inputIconUser {
  @mixin inputIcon user-alt;
}

.inputIconPassword {
  @mixin inputIcon lock-alt;
}

