{{- if .Values.ingress.enabled }}
{{- $fullName := include "assist.fullname" . -}}
{{- $svcPort := .Values.service.ports.socketio -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "assist.labels" . | nindent 4 }}
  annotations:
    nginx.org/mergeable-ingress-type: "minion"
    nginx.org/lb-method: "hash $http_x_forwarded_for consistent"
    nginx.org/websocket-services: "{{ $fullName }}"
    nginx.org/proxy-read-timeout: "3600s"
    nginx.org/proxy-send-timeout: "3600s"
    nginx.org/proxy-connect-timeout: "120s"
    nginx.org/location-snippets: |
      # CORS configuration for WebSocket
      add_header 'Access-Control-Allow-Origin' $http_origin always;
      add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS' always;
      add_header 'Access-Control-Allow-Headers' 'sessionid, Content-Type, Authorization' always;
      add_header 'Access-Control-Max-Age' 1728000 always;
      
      # Strip /ws-assist prefix
      rewrite ^/ws-assist/(.*)$ /$1 break;
spec:
  ingressClassName: openreplay
  rules:
    - host: {{ .Values.global.domainName }} 
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
            path: /ws-assist
{{- end }}
