{{- if .Values.ingress.enabled }}
{{- $fullName := include "assist.fullname" . -}}
{{- $svcPort := .Values.service.ports.socketio -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "assist.labels" . | nindent 4 }}
  annotations:
    nginx.org/mergeable-ingress-type: "minion"
    nginx.org/lb-method: "hash $http_x_forwarded_for consistent"
    nginx.org/websocket-services: "{{ $fullName }}"
spec:
  ingressClassName: openreplay
  rules:
    - host: {{ .Values.global.domainName }} 
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
            path: /ws-assist
{{- end }}
