.playerBody {
  background: var(--m-surface-default);
  height: 100%;
  min-height: 0;
}

.screenWrapper {
  width: 100%;
  position: relative;
  height: 100%;
  /* border: solid thin $gray-light; */
  /* border-radius: 3px; */
  overflow-y: scroll;
}

.checkers {
  background: var(--m-surface-canvas);
}
.solidBg {
  background: var(--m-surface-sunken);
}

.mobileScreenWrapper {
  width: 100%;
  position: relative;
  height: 100%;
  background: var(--m-surface-canvas);
}

.disconnected {
  font-size: 40px;
  font-weight: 200;
  color: $gray-medium;
}

.playerView {
  position: relative;
  flex: 1;
}
