connect_str='clickhouse+native://{address}/{database}'
address=1.1.1.1:9000
database=default
sessions_table=connector_user_sessions_buffer
events_table_name=connector_events_buffer
events_detailed_table_name=connector_events_detailed_buffer
level=normal
