connect_str='snowflake://{user}:{password}@{account}/{database}/{schema}?warehouse={warehouse}'
user=admin
password=12345678
account=aaaaaaa.eu-central-3
database=dev
schema=public
warehouse=SOME_WH
sessions_table=connector_user_sessions
events_table_name=connector_events
events_detailed_table_name=connector_events_detailed
level=normal
KAFKA_SERVERS_1=...
KAFKA_SERVERS_2=...
DATABASE_NAME=snowflake