@import "icons.css";

@keyframes fade {
  0%   { opacity: 1}
  50% { opacity: 0}
  100%   { opacity: 1}
}

.controls {
  /* margin-top: 10px; */
  border-top: solid thin $gray-light;
  padding-top: 36px;
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  align-items: center;
  padding: 0 30px;
  &[data-is-live=true] {
    padding: 0;
  }
}

.buttonsLeft {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.butonsRight {
  display: flex;
  align-items: center;
}

.speedButton {
  cursor: pointer;  
  color: $gray-darkest;
  font-size: 14px;
  padding: 0 10px;
  height: 30px;
  border-radius: 3px;
  
  &:hover {
    background-color: $gray-lightest;
    transition: all 0.2s;
  }
}


.skipIntervalButton {
  font-weight: normal !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: $gray-darkest;
  /* margin-right: 5px; */
  padding: 0 10px;
  height: 30px;
  border-radius: 3px;
  /* margin: 0 5px; */
  &:hover {
    background-color: $gray-lightest;
    transition: all 0.2s;
  }
}

.divider {
  height: 30px;
  width: 1px;
  margin: 0 5px;
  background-color: $gray-light-shade;
}

.withCheckIcon {
  color: $gray-darkest;
  & .checkIcon {
    /* opacity: 1 !important; */
    display: block;
  }
}

.checkIcon {
  @mixin icon check, $gray-dark, 12px;
  margin-right: 8px;
  display: none;
}

.liveTag {
  cursor: pointer;
  user-select: none;
  height: 26px;
  width: 56px;
  border-radius: 3px;
  background-color: $gray-light;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-dark;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  margin-right: 10px;
  & svg {
    fill: $gray-dark;
  }
  &[data-is-live=true] {
    background-color: #42AE5E;
    color: white;
    & svg {
      fill: white;
      animation: fade 1s infinite;
    }
  }
}