
.controlButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  cursor: pointer;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  min-width: 60px;
  position: relative;
  &:hover {
    background-color: $gray-lightest;
    transition: all 0.2s;
  }

  & .errorSymbol {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: red;
    bottom: 2px;
    right: 0px;
    position: absolute;
  }
  
  & .countLabel {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: $gray-dark;
    color: white;
    font-size: 9px;
    font-weight: 300;
    min-width: 20px;
    height: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }

  & .label {
    /* padding-top: 5px; */
    font-size: 10px;
    height: 16px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
