.form-field > label {
    font-weight: 500;
    margin-bottom: 5px;
    color: '#888';
}

.capitalize-first::first-letter {
    text-transform: uppercase;
}

input.no-focus:focus {
    outline: none !important;
    border: solid thin transparent !important;
}

.widget-wrapper {
    @apply rounded border bg-white;
}