.DateRangePicker__CalendarSelection--is-pending,
.DateRangePicker__CalendarSelection .DateRangePicker__CalendarSelection--start,
.DateRangePicker__CalendarSelection .DateRangePicker__CalendarSelection--segment,
.DateRangePicker__CalendarSelection .DateRangePicker__CalendarSelection--end,
.DateRangePicker__CalendarSelection {
    background-color: $teal !important;
    border-color: $teal !important;
}


.DateRangePicker__Date .DateRangePicker__CalendarHighlight--single {
    border-color: $teal !important;
}