* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  text-decoration: none;
  outline: none;
}

body, html {
  height: 100%;
}

input, button {
  background: none;
  border: none;
  border: solid thin transparent;
}

button {
  font-weight: 400;
}

textarea:not([data-slot], [class^='m-'], [class*=' m-']):focus,
input:not(.nofocus, [data-slot], [class^='m-'], [class*=' m-']):focus {
  border: solid thin $teal !important;
}

/* body ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
} */

* {
  &::-webkit-scrollbar {
    width: 2px;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &:hover {
    &::-webkit-scrollbar-track {
      background: #f3f3f3;
    }
    &::-webkit-scrollbar-thumb {
      background: $gray-medium;
    }
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--color-white) inset !important;
  -webkit-text-fill-color: var(--color-black) !important;
  caret-color: var(--color-black) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
