.Toastify__close-button {
  text-indent: -1000em;
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  background-image: svg-load(icons/close.svg, fill=gray-medium) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center center !important;
}
.Toastify__toast {
  background-color: white !important;
  color: #888;
  border-left: solid 5px transparent;

  &.Toastify__toast--default {
    border-color: #394EFF;
  }
  &.Toastify__toast--info {
    border-color: #3EAAAF;
  }
  &.Toastify__toast--success {
    border-color: #394EFF;
  }
  &.Toastify__toast--warning {
    border-color: #E28940;
  }
  &.Toastify__toast--error {
    border-color: #cc0000;
  }
}

.Toastify__progress-bar--wrp {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

:root {
  --toastify-color-info: #3EAAAF;
  --toastify-color-success: #394EFF;
  --toastify-color-warning: #E28940;
  --toastify-color-error: #cc0000;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-color-progress-light: #394EFF;
  --toastify-icon-color-info: #3EAAAF;
  --toastify-icon-color-success: #394EFF;
  --toastify-icon-color-warning: #E28940;
  --toastify-icon-color-error: #cc0000;
}
