.btn {
  height: 29px;
  padding: 0 10px;
  &:hover {
    background-color: $gray-light;
    color: white;
    & svg {
      fill: white;
    }
  }
}

.filterItem {
  &:hover {
    background-color: $gray-light;
  }
}