.formWrapper {
  position: relative;
  height: calc(100vh - 59px);

  & .content {
    padding: 0 20px;
  }

  & .formGroup {
    display: flex;
    flex-direction: column;    
    margin-bottom: 15px;
   
    & label {
      font-weight: 500;
      margin-bottom: 8px;
    }

    & input {
      background-color: white;
      padding: 8px 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    & input[type=checkbox] {
      margin-right: 10px;
    }

    & .controlSubtext {
        padding-left: 23px;
        font-size:12px;
        color: $gray-medium;
        line-height: 14px;
        font-weight: 400;
    }
  }

  & .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0px -3px 8px 0px rgba(0, 0, 0, 0.08);
  }
}

.sampleRate {
  width: 90px;
}

.blockIpWarapper {
  & .button {
    padding: 8px 10px;
    border: solid thin $teal;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
}

.errorMessage {
  color: $red;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}