@import 'mixins.css';

.wrapper {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  border-bottom: solid thin $gray-light-shade;

  &:hover {
    background-color: $active-blue;
    transition: all 0.2s;
    & .actions {
      opacity: 1;
      transition: all 0.4s;
    }
  }

  & .adminLabel {
    margin-left: 5px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: $gray-lightest;
    font-size: 10px;
    border: solid thin $gray-light;
  }
}

.actions {
  margin-left: auto;
  /* opacity: 0; */
  transition: all 0.4s;
  display: flex;
  align-items: center;
  & .button {
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      & svg {
        fill: $teal-dark;
      }
    }
  }
}