.dropdown {
  display: 'flex' !important;
  align-items: 'center';  
  padding: 5px 8px;
  border-radius: 3px;
  transition: all 0.3s;
  font-weight: 500;

  &:hover {
    background-color: #DDDDDD;
    transition: all 0.2s;
  }
}

.dateInput {  
  display: flex;
  align-items: center;
  padding: 4px;
  font-weight: 500;
  font-size: 14px;
  color: $gray-darkest;

  &:hover {
    background-color: lightgray;
    border-radius: 3px;
  }
} 

.divider {
  margin: 10px 0;
  border-top: solid thin $gray-light;
}