.wrapper {
  position: relative;
}

.button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 15px;  
  height: 50px;
  transition: all 0.3s;

  &:hover {
    background-color: $gray-lightest;
    transition: all 0.2s;
  }

  &[data-active=true] {
    background-color: $gray-lightest;
  }
}

.counter {
  position: absolute;
  top: 8px;
  left: 24px;
  background-color: red;
  color: white;
  font-size: 9px;
  font-weight: 300;
  min-width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}