.tabHeader {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  & .tabTitle {
    margin: 0 15px 0 0;
    font-weight: 400 !important;
  }
}

.form {
  padding: 0 20px;

  & .formGroup {
    margin-bottom: 15px;
  }
  & label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }

  & .input {
    width: 100%;
  }

  & input[type=checkbox] {
    margin-right: 10px;
    height: 13px;
  }
}

.adminInfo {
  font-size: 12px;
  color: $gray-medium;
}