requests==2.32.4
urllib3==2.6.0
pyjwt==2.8.0
SQLAlchemy==2.0.28
alembic==1.13.1
psycopg2-binary==2.9.9

joblib==1.3.2
scipy==1.12.0
scikit-learn==1.5.0
mlflow==3.5.0rc0

clickhouse-driver==0.2.7
python3-saml==1.16.0
python-multipart==0.0.18
python-decouple==3.8
pydantic==2.12.5

boto3==1.34.57
