requests==2.28.2
urllib3==1.26.12
pyjwt==2.6.0
SQLAlchemy==2.0.10
alembic
psycopg2-binary==2.9.5

joblib==1.2.0
scipy
scikit-learn
mlflow

clickhouse-driver==0.2.5
python3-saml==1.14.0
python-multipart==0.0.5
python-decouple
pydantic

boto3==1.26.100
