requests==2.28.2
urllib3==1.26.12
pyjwt==2.6.0
SQLAlchemy==2.0.10
alembic==1.11.1
psycopg2-binary==2.9.5

joblib==1.2.0
scipy==1.10.1
scikit-learn==1.2.2
mlflow==2.3

clickhouse-driver==0.2.5
python3-saml==1.14.0
python-multipart==0.0.5
python-decouple==3.8
pydantic==1.10.8

boto3==1.26.100
