requests==2.28.1
urllib3==1.26.12
pyjwt==2.5.0
psycopg2-binary==2.9.3

numpy
threadpoolctl==3.1.0
joblib==1.2.0
scipy
scikit-learn
mlflow

airflow-code-editor

pydantic[email]==1.10.2

clickhouse-driver==0.2.4
python3-saml==1.14.0
python-multipart==0.0.5
python-decouple

argcomplete
