.wrapper {
  background-color: $gray-light;
  /* border: solid thin $gray-medium; */
  border-radius: 3px;
  padding: 20px;
}

.innerWapper {
  border-radius: 3px;
  width: 70%;
  margin: 0 auto;
  background-color: white;
}