.wrapper {
    color: $teal;
    cursor: pointer;
    padding: 5px;
    border: solid thin transparent;
    border-radius: 3px;
    margin-left: -5px;

    &.active,
    &:hover {
        background-color: $active-blue;
        border-color: $active-blue-border;
        & .actionWrapper {
            opacity: 1;
        }
    }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}