.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &.bordered {
    border-bottom: solid thin $gray-light;
  }
}
 
.tab {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s;
  color: $gray-darkest;
  border-bottom: solid thin transparent;
  margin-bottom: -1px;
  font-weight: 500;
  white-space: nowrap;
  
  &:hover {
    color: $teal;
  }
  
  &.active {
    color: $teal;
    border-bottom: solid thin $teal;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}