.menu {
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 10px 0 $gray-light;
  padding: 20px;
  background-color: white;
  max-height: 350px;
  overflow-y: auto;
  position: absolute;
  top: 28px;
  left: 0;  
  width: 500px;
  z-index: 99;
}

.searchInput {
  & input {
    font-size: 13px !important;
    padding: 5px !important;
    color: $gray-darkest !important;
    font-size: 14px !important;
    background-color: rgba(255, 255, 255, 0.8) !important;

    & .label {
      padding: 0px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  height: 28px !important;
  width: 280px;
  color: $gray-darkest !important;
}

.fullWidth {
  width: 100% !important;
}

.inputWrapper {
  border: solid thin $gray-light !important;
  border-radius: 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  & input {
    height: 28px;
    font-size: 13px !important;
    padding: 0 5px !important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  & .right {
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    background-color: $gray-lightest;
    border-left: solid thin $gray-light !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
  }
}