.wrapper {
  padding: 8px;
  border-bottom: solid thin rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background-color: $active-blue;
  }
}