
.timeTooltip {
  position: absolute;
  padding: 0.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background: black;
  top: -35px;
  color: white;

  &:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 5px black;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
  }
}

.noteTooltip {
  position: absolute;
  padding: 1rem;
  border-radius: 0.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background: #F5F5F5;
  top: -35px;
  color: black;
  cursor: default;
  box-shadow: 0 4px 20px 4px rgb(0 20 60 / 10%), 0 4px 80px -8px rgb(0 20 60 / 20%);
}

.arrow {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px #f5f5f5;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
