.inputField {
  display: inline-block;
  /* margin-right: 10px; */
  border: solid thin $gray-light;
  border-radius: 3px;
  height: 26px;
  background-color: $white;
  padding: 0 5px;
  max-width: 100px;
}