table_id='{project_id}.{dataset}.{table}'
project_id=name-123456
dataset=datasetname
sessions_table=connector_user_sessions
events_table_name=connector_events
events_detailed_table_name=connector_events_detailed
level=normal
