connect_str='postgresql://{user}:{password}@{address}:{port}/{database}'
address=1.1.1.1
port=8080
database=dev
user=qwerty
password=qwertyQWERTY12345
sessions_table=connector_user_sessions
events_table_name=connector_events
events_detailed_table_name=connector_events_detailed
level=normal
