aws_access_key_id=QWERTYQWERTYQWERTY
aws_secret_access_key=abcdefgh12345678
region_name=eu-central-3
bucket=name_of_the_bucket
subdirectory=name_of_the_bucket_subdirectory
connect_str='postgresql://{user}:{password}@{address}:{port}/{schema}'
address=redshift-cluster-1.aaaaaaaaa.eu-central-3.redshift.amazonaws.com
port=5439
schema=dev
user=admin
password=admin
sessions_table=connector_user_sessions
events_table_name=connector_events
events_detailed_table_name=connector_events_detailed
level=normal
