.wrapper {
  background-color: white;
  border: solid thin $gray-light;
  border-radius: 3px;
  position: fixed;
  width: 300px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.headerTitle {
  font-size: 12px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.videoWrapper {
  max-width: 300px;
  display: flex;
  background-color: #000;
  flex-wrap: wrap;
}
