@import 'mixins.css';

.pageLoading {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px 0 30px;
}

.loadMoreButton {
  @mixin basicButton;
}

.countInfo {
  font-size: 10px;  
  color: #999;
  margin-bottom: 10px;
}