.customMessage {
  padding: 5px 10px !important;
  box-shadow: none !important;
  font-size: 12px !important;
  color: $gray-medium !important;
  font-weight: 300;
  display: flex;
  justify-content: center;
  & > div {
    flex: none !important;
  }
}