
.userEvent {
  border-radius: 3px;
  background-color: rgba(0, 118, 255, 0.05);

  &.modalTrigger {
    cursor: pointer;
  }
}

.infoWrapper {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  font-family: 'Menlo', 'monaco', 'consolas', monospace;
}

.title {
  display: block;
  color: $gray-dark;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  margin-right: 10px;
}

.message {
  /* padding-left: 26px; */
  /* padding-top: 10px; */
  font-size: 13px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 1px;
  }
}

.inactive {
  opacity: 0.5;
}

.selected {
  background-color: $teal-light;
}