.menuItem {
  border-radius: 3px;
  border: solid thin transparent;
  color: $gray-dark;
  cursor: pointer !important;

  &:hover {
    & .iconLabel {
      color: $teal;

      & svg {
        fill: $teal;
      }
    }
    
    & .actions {
      opacity: 1;
    }
  }
  &.active {
    color: $teal;
  }

  & .disabled {
    opacity: 0.5;
  }

  & .iconLabel {
    max-width: 85%;
  }
  & .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
  }

  & .actions {
    opacity: 0;
  }
}