.bars {
  & div:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  & div:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}