[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
boto3 = "==1.28.67"
pyjwt = "==2.8.0"
psycopg2-binary = "==2.9.9"
elasticsearch = "==8.10.1"
jira = "==3.5.2"
fastapi = "==0.104.0"
python-decouple = "==3.8"
apscheduler = "==3.10.4"
redis = "==5.0.1"
urllib3 = "==1.26.16"
uvicorn = {extras = ["standard"], version = "==0.23.2"}
pydantic = {extras = ["email"], version = "==2.3.0"}

[dev-packages]

[requires]
python_version = "3.11"
