[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "==2.6.3"
requests = "==2.33.1"
boto3 = "==1.42.94"
pyjwt = "==2.12.1"
psycopg2-binary = "==2.9.12"
clickhouse-connect = "==0.15.1"
elasticsearch = "==9.3.0"
jira = "==3.10.5"
cachetools = "==7.0.6"
fastapi = "==0.136.0"
python-decouple = "==3.8"
apscheduler = "==3.11.2"
redis = "==7.4.0"
psycopg = {extras = ["binary", "pool"], version = "==3.3.3"}
uvicorn = {extras = ["standard"], version = "==0.46.0"}
pydantic = {extras = ["email"], version = "==2.13.3"}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.13"
