requests==2.31.0
boto3==1.28.4
pyjwt==2.7.0
psycopg2-binary==2.9.6
elasticsearch==8.8.2
jira==3.5.2



fastapi==0.100.0
uvicorn[standard]==0.23.1
python-decouple==3.8
pydantic[email]==2.0.3
apscheduler==3.10.1

redis==4.6.0
