requests==2.28.2
urllib3==1.26.15
boto3==1.26.100
pyjwt==2.6.0
psycopg2-binary==2.9.5
elasticsearch==8.6.2
jira==3.5.0



fastapi==0.95.0
uvicorn[standard]==0.21.1
python-decouple==3.8
pydantic[email]==1.10.7
apscheduler==3.10.1