# Keep this version to not have conflicts between requests and boto3
urllib3==1.26.16
requests==2.32.3
boto3==1.35.14
pyjwt==2.9.0
psycopg2-binary==2.9.9
psycopg[pool,binary]==3.2.1
elasticsearch==8.15.0
jira==3.8.0
cachetools==5.5.0



fastapi==0.113.0
uvicorn[standard]==0.30.6
python-decouple==3.8
pydantic[email]==2.8.2
apscheduler==3.10.4

redis==5.1.0b6
