urllib3==2.5.0
requests==2.32.5
boto3==1.40.61
pyjwt==2.10.1
psycopg2-binary==2.9.11
psycopg[pool,binary]==3.2.12
clickhouse-connect==0.9.2
elasticsearch==9.2.0
jira==3.10.5
cachetools==6.2.1

fastapi==0.120.1
uvicorn[standard]==0.38.0
python-decouple==3.8
pydantic[email]==2.12.3
apscheduler==3.11.1
